[
    {server, [
         {listen_port, 8989}, % port number of the listen socket
         {acceptors, 20}, % number of concurrent acceptors
         {backlog, 128},
         {yggdrasil,"203:18f0:c3bb:cd12:66d2:bb08:ce8d:9fde"},

         % configuration for rclient
         {server, {515,6384,50107,52498,26322,47880,52877,40926}}, % server IP
         {cookie, gsoc}, % shared cookie
         {client1, 'abc@kushal'}, % client1 hostname
         {ebin_dir, '/home/kushal/Desktop/Bha/Erlang-yggdrasil/ebin'}  % path to ebin directory 
    ]}
].
